appnope==0.1.0
asn1crypto==0.24.0
attrs==17.4.0
aws-xray-sdk==0.95
bleach==2.1.2
boto==2.48.0
boto3==1.5.12
botocore==1.8.26
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cookies==2.2.1
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
docker==2.7.0
docker-pycreds==0.2.1
docutils==0.14
entrypoints==0.2.3
html5lib==1.0.1
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.1
mistune==0.8.3
mock==2.0.0
moto==1.2.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.22.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pbr==3.1.1
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pyaml==17.12.1
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.3.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
s3transfer==0.1.12
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
Werkzeug==0.14.1
widgetsnbextension==3.1.0
wrapt==1.10.11
xmltodict==0.11.0
